# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\poligon\htdocs\internetShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
